<% provide(:title, 'About') %>
<h1>About Us</h1>
<div class="row">
We are a group of students from ECE Paris Ecole d'Ingénieurs.</br>
</br>
<b>TO CONTACT US :</b>
<ul>
<li>ALIBERT Asma : <a href="mailto:alibert@ece.fr">alibert@ece.fr</a></li>
<li>CHAVAN Jidnyasa : <a href="mailto:chavan@ece.fr">chavan@ece.fr</a></li>
<li>FLEURY Gaëtan : <a href="mailto:fleury@ece.fr">fleury@ece.fr</a></li>
<li>MARQUES Quentin : <a href="mailto:marques@ece.fr">marques@ece.fr</a></li>
<li>OLARTE Lizeth : <a href="mailto:olarte@ece.fr">olarte@ece.fr</a></li>
</ul>
</div>

