<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="row">
	<div class="span12">
		<p> 	
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula magna, dignissim imperdiet lectus ac, laoreet tincidunt odio. Aenean quis libero placerat, dapibus augue sit amet, pulvinar felis. Curabitur fringilla blandit elit, sit amet semper urna ultrices elementum. Nulla ut vestibulum dolor. Ut nibh nibh, tempus in nibh quis, eleifend cursus nisl. Ut mollis erat at enim congue fermentum. Donec ultrices lectus sed nisl placerat, ac rhoncus tellus ullamcorper. Vivamus at ullamcorper urna, eu ultricies velit.

		Vestibulum convallis quam auctor massa ullamcorper, ut eleifend nibh venenatis. Donec non ante erat. Praesent leo velit, viverra a felis a, aliquet mollis quam. Donec commodo nunc id metus ultrices mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et enim accumsan, pharetra magna et, posuere metus. Vestibulum nec orci eu magna auctor feugiat et aliquam lectus. Fusce scelerisque libero id risus aliquam placerat. Suspendisse rhoncus lorem quis nisi interdum ultrices. Vestibulum luctus ornare sollicitudin. Vestibulum neque est, eleifend quis felis sit amet, vulputate adipiscing nibh. Curabitur vel facilisis ligula, vitae placerat nunc. Duis dolor lacus, pretium ut tristique et, pellentesque in odio. Aenean condimentum commodo est ut vestibulum.

		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus auctor tincidunt mi, eu sagittis augue varius at. Aliquam ut consequat massa. Nam pulvinar tempus mi, vel suscipit ligula venenatis et. Sed volutpat tincidunt volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut sem arcu, luctus ut ipsum non, consectetur aliquet elit. Cras faucibus, nunc a vulputate ullamcorper, dui odio ullamcorper magna, vitae tempus sapien augue in nisi. Maecenas lorem felis, ornare in justo a, aliquet faucibus sapien. Maecenas eget felis urna. Donec dignissim malesuada ligula, vel vehicula massa tempor sit amet. Aliquam erat volutpat. Sed eu leo tincidunt, scelerisque est nec, commodo nisl. Fusce in enim venenatis, rutrum odio id, sodales lectus. Suspendisse eget ultrices metus, ac porta libero.
		</p>
	</div>
</div>
<div class="row">
	<div class="span4 offset2">
	  <div class="row">
	    <%= render 'shared/share_buttons' %>
	  </div>
	  <div class="row">
	    <%= render 'shared/share_icons' %>
	  </div>
	</div>
</div>