<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="row">
	<div class="span12">
<h2><b>To start a new debate : </b></h2>
<ul type="square">
<li>Click on <b>Public Debates</b> &rarr; You are now on the debate's general page</li>
<li>Click on the button <button class="btn btn-large btn-info" type="button">Create a new Public Debate</button></li>
</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
<h2><b>To answer to a debate : </b></h2>
<ul type="square">
<li>Click on <b>Public Debates</b> &rarr; You are now on the debate's general page</li>
<li>Click on the debate you want to answer &rarr; You are now on the page of the debate you chose</li>
<li>The <b>Full debate</b> tab show you all the answers of this debate</li>
<li>Click on the button <button class="btn btn-large btn-info" type="button">Propose an Answer</button></li>
</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
<h2><b>To make a vote  : </b></h2>
<ul type="square">
<li>Click on <b>Public Debates</b> &rarr; You are now on the debate's general page</li>
<li>Click on the debate you want to vote for &rarr; You are now on the page of the debate you chose</li>
<li>Click on the button <button class="btn btn-large btn-primary" type="button">Vote</button> &rarr; Now you must vote...</li>
<li>You must select the grade you give for 3 criterias : Clarity, Usefulness and Completness clicking here <div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn btn-primary">+1</button>
  <button type="button" class="btn btn-primary">0</button>
  <button type="button" class="btn btn-primary">-1</button>
</div></li>
</ul>
	</div>
</div>
