<ul>
   <li>Date/Hour An objection has been posted on one of your debate</li>
   <li>Date/Hour A justification has been posted on one of your debate</li>
   <li>Date/Hour An objection has been posted on one of your answer</li>
   ...
</ul>
