<div class="share-buttons">
	<a  	href="https://twitter.com/share" 
				class="twitter-share-button" 
				data-lang="en" 
				data-count="none" 
				data-text="This debate is worth a look: "
				data-url="http://www.google.com">
			Tweet
  </a>

	<div 	class="fb-share-button" 
 				data-href="http://www.google.com" 
 				data-type="button">
	</div>

	<div 	class="g-plus" 
 				data-action="share" 
 				data-annotation="none"
 				data-href="http://www.google.com" >
 	</div>
</div>