<tr>
        <td> <b>Answer</b></td>
   </tr>
   <tr>
        <td> 
          <div class="row">
            <div class="span8">
              <%= markdown answer.content %>
            </div>
            <div class="span4 pull-right">
              <%= render 'user', contribution: answer %>
            </div>
          </div>
        </td>
   </tr>
   <tr>
        <td>
<div class="row">
<div class="span5">
<button class="btn btn-default" type="button">Show improved answers</button>
<button class="btn btn-default" type="button">Show improving answers</button>
</div>
<div class="span6 pull-right">
<button class="btn btn-large btn-primary pull-right" type="button" data-toggle="modal" data-target="#voteModal">Vote</button>
</div>
</div>
<%= render 'debates/more', contribution: answer %>
