<!-- Modal window-->
<div class="modal hide fade" id="justificationModal" tabindex="-1" role="dialog" aria-labelledby="justificationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="justificationModalLabel">New justification</h1>
      </div>
      <div class="modal-body">
<p>Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri.</p>
<br/>

<div class="control-group">
            <label class="control-label" for="select01">Justification type:</label>
            <div class="controls">
              <select id="select01">
<%@justifications = ["Explanation of context", "Source", "Example", "Demonstration"]%>
<% @justifications.each do |justification|%>
    <option value="objection"><%= justification%></option>
<% end %>
              </select>
            </div>
          </div>

<div class="control-group">
            <label class="control-label" for="label">Justification:</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="label">
            </div>
</div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
