<!-- Modal window-->
<div class="modal hide fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="tagModalLabel">New tag</h1>
      </div>
      <div class="modal-body">
<p>Nemo quaeso miretur, si post exsudatos labores itinerum.</p>
<br/>

<div>Tag:
<select class="form-control"">
<%@tags = ["CAN_VOTE", "CAN_TAG", "CAN_ANSWER", "CAN_JUSTIFY", "CAN_OBJECT", "CAN_DEBATE"]%>
<% @tags.each do |tag|%>
    <option value="tag"><%= tag%></option>
<% end %>
</select>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
