<div class="pull-right">
	<% user = contribution.user %>
	<%= gravatar_for user, size: 20 %>
	By <%= link_to user.name, user %>
	<br />
	<div class="pull-right">
	With <%= contribution.voices %> Voices
</div>
</div>
