// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table th, .table td { 
     border-top: none; 
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #50B5D3;
}

h3 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align:left;
  font-weight: normal;
}

.accordion-toggle {
    background-color: #DCDCDC;
    display: block;
    font-size: 18px;
    height: 25px;
    line-height: 23px;
    padding: 10px 20px 10px 40px;
}

/* Modal */

.modal-body {
    max-height: 800px;
}
