// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel
{
    overflow-y: scroll;
    height: 300px;
	border-style:solid;
	border-width:1px;
}

.panel-body li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted;
	list-style: none;
}

.panel-heading
{
	font-weight: bold;
	border-bottom: 1px solid;
}

h1 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

