<div class="follow-buttons"> 
  <div  class="fb-follow" 
        data-href="https://www.facebook.com/pages/iTeam/125145820901130" 
        data-colorscheme="light" 
        data-layout="button" 
        data-show-faces="false">
  </div>

  <a  href="https://twitter.com/iTeam" 
      class="twitter-follow-button" 
      data-show-count="false">
    Follow @MaiaProject
  </a>
  
  <div  class="g-follow" 
        data-annotation="none" 
        data-height="20" 
        data-href="https://plus.google.com/u/0/117749650815258236494" 
        data-rel="publisher">
  </div>
</div>