<table class="table table-striped">
    <thead>
    <tr>
    <th> </th>
    <th>Permission</th>
    <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_VOTE</td>
    <td>Ability to vote in a debate</td>
    </tr>
    <tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_TAG</td>
    <td>Ability to change tags in a debate</td>
    </tr>
    <tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_ANSWER</td>
    <td>Ability to contribute with an answer to a debate</td>
    </tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_JUSTIFY</td>
    <td>Ability to justify a contribution in a debate</td>
    </tr>
    </tr>
    </tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_OBJECT</td>
    <td>Ability to object something in a debate</td>
    </tr>
    </tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_DEBATE</td>
    <td>Ability to create a new debate</td>
    </tr>
    </tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_ADD_FRIEND</td>
    <td>Ability to add a friend</td>
    </tr>
    </tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_USE_INMAIL</td>
    <td>Ability to use the internal chat</td>
    </tr>
    </tr>
    <td><input type="checkbox" value=""></td>
    <td>CAN_CREATE_DEBATE_GROUP</td>
    <td>Ability to create an inexisting group debate</td>
    </tr>
    </tbody>
    </table>
